.board {
    .tile:nth-child(5n+1) > h2 {
        background-color: #f44336;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .tile:nth-child(5n+1):hover > h2 {
        background-color: #e57373;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .tile:nth-child(5n+2) > h2 {
        background-color: #9C27B0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .tile:nth-child(5n+2):hover > h2 {
        background-color: #BA68C8;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .tile:nth-child(5n+3) > h2 {
        background-color: #03A9F4;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .tile:nth-child(5n+3):hover > h2 {
        background-color: #4FC3F7;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .tile:nth-child(5n+4) > h2 {
        background-color: #8BC34A;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .tile:nth-child(5n+4):hover > h2 {
        background-color: #AED581;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .tile:nth-child(5n+5) > h2 {
        background-color: #E91E68;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .tile:nth-child(5n+5):hover > h2 {
        background-color: #F06292;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

.tile:hover {
    cursor: pointer;
}

.tile {
    	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}
