* {
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: rgba(255,255,255,0.9);
    font-size: 46px;
    font-weight: 500;
    line-height: 58px;
    margin-left: 1.5em;
}

.header h1{
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width: 298px;
}

.fa-plus{
    font-size: 25px;
}

h2 {
    margin: 0;
    padding: 0.5em;
}

a{
    color: #FFFFFF;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

a:hover {
    border-bottom: 1px solid rgba(255,255,255,0.9);
    cursor: pointer;
}

.footer h2{
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 10px;
    line-height: 52px;
    margin-left: 1.5em;
}

.addButton h2{
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 52px;
    margin-left: 0;
}

.tile h2 {
    color: #FFFFFF;
    width: auto;
    font-size: 32px;
    padding-left: 0.5em;
}

.tile p{
    color: #193E5C;
    font-size: 22px;
    padding: 0.5em;
    margin-top: 0.25em;
    margin-right: 0.25em;
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-y: initial;
}
