$handheld: "only screen and (max-width: 749px)";
$wide-screens: "only screen and (min-width: 750px) and (max-width: 1079px)";
$wider-screens: "only screen and (min-width: 1080px) and (max-width: 1399px)";
$widest-screens: "only screen and (min-width: 1400px)";

body {
    min-width: 470px;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.header{
    background-color: #032B43;
}

.dropbtn:hover .fa-caret-right{
  //
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.dropdown:hover .fa-caret-right{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.dropbtn {
    margin-left: 26px;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    font-size: 30px;
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    background-color: #032B43;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-left: 26px;
    display: none;
    position: absolute;
    background-color: #193E5C;
    min-width: 168px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #193E5C}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #193E5C;
}

.fa-caret-right {
    font-size: 36px;
    color: #ffffff;
    margin-right: 15px;
    display: inline-block;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        flex: 1;
    }
}

.addButton {
    // width: 1em;
    padding: 0.2em;
    border-radius: 50%;
    margin-right: 5em;
}

#main {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    max-height: 100%;
}

.board {
    box-sizing: border-box;
    flex: 1;
    overflow-y: scroll;
    display: grid;
    padding: 4em;
    // grid-template-rows: repeat(auto-fit, 18em);

    @media #{$handheld} {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
    }

    @media #{$wide-screens} {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    @media #{$wider-screens} {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    @media #{$widest-screens} {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
    }
}

::-webkit-scrollbar{
	width: 10px;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
	background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

.tile {
    overflow-y: auto;
    overflow-x: hidden;
    overflow-y: initial;
    min-height: 18em;
    margin: 0.5em;
    border-radius: 4px;
    h2 {
        display: flex;
        justify-content: space-between;
        span {
            flex: 1;
        }
    }
}

.tile.new {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;

    @media #{$handheld} {
        grid-column-end: span 1;
    }

    @media #{$wide-screens} {
        grid-column-end: span 1;
    }

    @media #{$wider-screens} {
        grid-column-end: span 2;
    }

    @media #{$widest-screens} {
        grid-column-end: span 3;
    }
}

.tileButton {
    text-align: center;
    width: 1em;
    margin-left: 0.2em;
    padding: 0.2em;
}
